<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.alvarosct.happycows">

    <application>

        <activity android:name=".features.MainMenuActivity" />

        <activity android:name=".features.porongos.PorongoListActivity" />
        <activity android:name=".features.porongos.PorongoViewActivity" />
        <activity android:name=".features.ganaderos.GanaderoSelectActivity" />
        <activity android:name=".features.porongos.PorongoFormActivity" />
        <activity android:name=".features.porongos.PorongoFormDirectActivity" />


        <activity android:name=".features.insumos.compras.CompraListActivity" />
        <activity android:name=".features.insumos.compras.detalle.DetalleCompraListActivity" />
        <activity android:name=".features.insumos.compras.calidad.ParametrosListActivity" />

        <activity android:name=".features.produccion.detail.insumo.InsumoFormActivity" />
        <activity android:name=".features.produccion.detail.proceso.ProcesoFormActivity" />
        <activity android:name=".features.produccion.OrdenProduccionListActivity" />
        <activity android:name=".features.produccion.detail.OrdenProduccionViewActivity" />

        <activity android:name=".features.sic.GanaderosSicActivity" />
        <activity android:name=".features.sic.SicFormActivity" />

        <activity android:name=".features.insumos.InsumoListActivity" />
        <activity android:name=".features.insumos.InsumoQuestionFormActivity" />


    </application>

</manifest>